<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign image = page.metafields.custom.image
  assign product = page.metafields.custom.product.value
-%}

<div class="page-width row section-{{ section.id }}-padding">
  <div class="col col-lg-6">
    <img src="{{image | image_url}}" alt="recipe">
  </div>
  <div class="col col-lg-6">
    {%- if section.settings.hide_title == blank -%}
      <h1 class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
    {%- endif -%}
    <div class="rte">
      {{ page.content }}
    </div>    
    <div class="button" data-module="add-to-cart" data-url="{{ product.url }}">Add To Cart</div>
  </div>
</div>

<div class="page-width row">
  <div class="col-12">
    <ul class="home-featured-collection grid product-grid contains-card contains-card--standard grid--5-col-desktop grid--2-col-tablet-down" role="list">

      <li class="grid__item">
        <div class="card-wrapper">
          <div class="card card--standard card--media" style="--ratio-percent: 100%;">

            <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;">
              <a href="{{ product.url }}" class="card__media">
                <div class="media media--transparent media--hover-effect">
                  <img 
                    src="{{ image | image_url }}" 
                    alt=""
                    height="{{ card_collection.featured_image.height }}"
                    width="{{ card_collection.featured_image.width }}"
                    loading="lazy"
                  />
                </div> 
              </a>              
            </div>

            <div class="card__content">
              <div class="card__information">          
                <h3 class="card__heading  h5">
                  <a href="/products/citrus-summer">CITRUS SUMMER</a>
                </h3>
              </div>
            </div>

  <div class="your-add-to-cart"  data-url="{{ page.metafields.custom.product.url }}">Add To Cart</div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  document.querySelector('[data-module="add-to-cart"]').addEventListener('click', function() {
    const productId = '{{ product.variants[0].id }}';
    const productUrl = '{{ product.url }}';
  
    fetch('/cart/add.js', {
      method: 'POST',
      body: JSON.stringify({
        id: productId,
        quantity: 1
      }),
      headers: {
        'Content-type': 'application/json; charset=UTF-8',
      }
    }).then(function(response) {
      console.log(response);
      return response.json();
    });
  });
}, false);
</script>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
