<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign image = page.metafields.custom.image
  assign product = page.metafields.custom.product.value
-%}

{{image | image_url}}
{{product.url}}
{{product.variants[0].id}}

<div class="page-width row section-{{ section.id }}-padding">
  <div class="col col-lg-6">
    <img src="{{image}}" alt="recipe">
  </div>
  <div class="col col-lg-6">
    {%- if section.settings.hide_title == blank -%}
      <h1 class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
    {%- endif -%}
    <div class="rte">
      {{ page.content }}
    </div>    
    <div class="your-add-to-cart button"  data-url="{{ page.metafields.custom.product.url }}">Add To Cart</div>
  </div>
</div>

<div class="page-width row">
  <div class="col-12">
    <ul class="home-featured-collection grid product-grid contains-card contains-card--standard grid--5-col-desktop grid--2-col-tablet-down" role="list">

      <li class="grid__item">
        <div class="card-wrapper">
          <div class="card card--standard card--media" style="--ratio-percent: 100%;">

            <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;">
              <a href="/products/citrus-summer" class="card__media">
                <div class="media media--transparent media--hover-effect">
              
                  <img srcset="//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080&amp;width=165 165w,//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080&amp;width=360 360w,//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080&amp;width=533 533w,//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080&amp;width=720 720w,//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080&amp;width=940 940w,//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080&amp;width=1066 1066w,//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080 1550w" src="//cdn.shopify.com/s/files/1/0625/6259/9061/products/Cool-Cat-Wine-Spritzer-Citrus-Summer-Cocktail-Recipe.jpg?v=1659541080&amp;width=533" sizes="(min-width: 1300px) 585px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" alt="CITRUS SUMMER" class="motion-reduce" loading="lazy" width="1550" height="1550">

                </div> 
              </a>              
            </div>

            <div class="card__content">
              <div class="card__information">          
                <h3 class="card__heading  h5">
                  <a href="/products/citrus-summer">CITRUS SUMMER</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </li>

    </ul>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const productId = product.variants[0].id;
}, false);

jQuery('.your-add-to-cart').on('click', function(){
  var product_id;
  var product_url = $(this).data('url');

  jQuery.getJSON(product_url + ".js", function(product){
    product_id = product.variants[0].id;

    jQuery.post('/cart/add.js', {
      id: product_id,
      quantity: 1
    });
  });
})
</script>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
