<div class="testimonials video-bg-wrap">
  {%- if section.settings.video_url -%}
    <video class="video-bg" loop autoplay preload="none" muted playsinline>
      <source src="{{ section.settings.video_url }}" type="video/mp4">
    </video>
  {%- endif -%}
  <div class="row">
    {%- if section.settings.title != blank -%}
      <div class="col-12 text-center">
        <h2 class="h1 section-title">
          {{ section.settings.title | escape }}   
        </h2>
      </div>
    {%- endif -%}
    {%- if section.settings.title != blank -%}
      <!-- TrustBox script -->
      <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
      <!-- End TrustBox script -->
      <div class="col-12">
        {{ section.settings.widget_code }}   
      </div>
    {%- endif -%}
  </div>
</div>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "settings": [
    {      
      "type": "header",
      "content": "Testimonials"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "widget_code",
      "label": "Trustpilot widget code"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video File URL"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}
