{%- liquid
  assign title_01 = article.metafields.custom.section_1_title
  assign text_01 = article.metafields.custom.section_1_text
  assign image_01 = article.metafields.custom.section_1_image
  assign text_02 = article.metafields.custom.section_2_text
  assign image_02 = article.metafields.custom.section_2_image
  assign text_03 = article.metafields.custom.section_3_text
  assign image_03 = article.metafields.custom.section_3_image
  assign iframe_04 = article.metafields.custom.section_4_video_iframe_code
  assign text_05 = article.metafields.custom.section_5_text
  assign image_05 = article.metafields.custom.section_5_image
-%}

{% if image_01 %}

	<section id="shopify-section-{{ article.id }}" class="shopify-section section">

		{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

		<style>
			#Banner-{{ article.id }}::after {
		    	opacity: 0.3;
			}
		</style>
		
		<div id="Banner-{{ article.id }}" class="banner banner--content-align-center banner--content-align-mobile-center banner--medium banner--mobile-bottom banner--desktop-transparent">
			<div class="banner__media media">
				<img src="{{ image_01 | image_url }}" alt="banner" srcset="">
		    </div>
		    <div class="banner__content banner__content--middle-center page-width">
		    	<div class="banner__box content-container content-container--full-width-mobile color-background-1 gradient">
		    		<h2 class="banner__heading h1">
		            	<span>{{ title_01 }}</span>
		            </h2>
	            	<div class="banner__text body">
	              		<span>{{ text_01 }}</span>
		            </div>
		        </div>
			</div>
		</div>

	</section>

{% endif %}


{% if image_02 or text_02 %}

	<section id="shopify-section-02-{{ article.id }}" class="shopify-section section">
		
		{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

		<style>
			.section-template-02-{{ article.id }}-padding {
				padding-top: 63px;
				padding-bottom: 27px;
			}

			@media screen and (min-width: 750px) {
				.section-template-02-{{ article.id }}-padding {
					padding-top: 84px;
					padding-bottom: 36px;
				}
			}
		</style>

		<div class="image-with-text image-with-text--no-overlap page-width isolate collapse-corners section-template-02-{{ article.id }}-padding">
			<div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
				<div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
					<div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 150.03663003663004%;">
						<img srcset="" src="{{ image_02 | image_url }}" sizes="(min-width: 1300px) 600px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy">
					</div>
				</div>
				<div class="image-with-text__text-item grid__item">
					<div id="ImageWithText-02-{{ article.id }}" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container">
						<div class="image-with-text__text rte body">
							{{ text_02 }}
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

{% endif %}


{% if image_03 or text_03 %}

	<section id="shopify-section-03-{{ article.id }}" class="shopify-section section">
		
		{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

		<style>
			.section-template-03-{{ article.id }}-padding {
				padding-top: 63px;
				padding-bottom: 27px;
			}

			@media screen and (min-width: 750px) {
				.section-template-03-{{ article.id }}-padding {
					padding-top: 84px;
					padding-bottom: 36px;
				}
			}
		</style>

		<div class="image-with-text image-with-text--no-overlap page-width isolate collapse-corners section-template-03-{{ article.id }}-padding">
			<div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
				<div class="image-with-text__text-item grid__item">
					<div id="ImageWithText-03-{{ article.id }}" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container">
						<div class="image-with-text__text rte body">
							{{ text_03 }}
						</div>
					</div>
				</div>
				<div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
					<div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 150.03663003663004%;">
						<img srcset="" src="{{ image_03 | image_url }}" sizes="(min-width: 1300px) 600px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy">
					</div>
				</div>
			</div>
		</div>

	</section>

{% endif %}


{% if iframe_04 %}

	<div class="video-section row isolate page-width">
		<div class="col-12">
			<div class="video-iframe">

				{{ iframe_04 }}
				
			</div>
		</div>
	</div>

{% endif %}


{% if image_05 or text_05 %}

	<section id="shopify-section-05-{{ article.id }}" class="shopify-section section">
		
		{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

		<style>
			.section-template-05-{{ article.id }}-padding {
				padding-top: 63px;
				padding-bottom: 27px;
			}

			@media screen and (min-width: 750px) {
				.section-template-05-{{ article.id }}-padding {
					padding-top: 84px;
					padding-bottom: 36px;
				}
			}
		</style>

		<div class="image-with-text image-with-text--no-overlap page-width isolate collapse-corners section-template-05-{{ article.id }}-padding">
			<div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
				<div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
					<div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 150.03663003663004%;">
						<img srcset="" src="{{ image_05 | image_url }}" sizes="(min-width: 1300px) 600px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy">
					</div>
				</div>
				<div class="image-with-text__text-item grid__item">
					<div id="ImageWithText-05-{{ article.id }}" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container">
						<div class="image-with-text__text rte body">
							{{ text_05 }}
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

{% endif %}

{% section 'buttons' %}